/*Essential block*/

.clean-side-padding
    padding-left: 0
    padding-right: 0

#navbar
    margin-top: 0
    +above(768px)
        display: none

#user-login
    +centerblock(50%)
    border-radius: 10px
    border: 1px solid #cacaca
    padding: 20px
    .form-actions
        text-align: center
        .form-submit
            display: inline-block

.menu-onpage
    +posfix1(25px,0)
    z-index: 9999
    opacity: 0.7
    .menu > li
        .dropdown-toggle
            +size(50px,50px)
            +bgnorep-cc("cogadmin.svg")
            background-size: auto,100%
            background-color: #fff
            border: 1px solid #cacaca
            border-radius: 0 5px 5px 0
            box-shadow: 1px 1px 5px rgba(0,0,0,0.5)
            cursor: pointer
.block-masquerade
    +posfix4(25px, -150px)
    +bgnorep-rc("masquerade.svg")
    background-size: auto 100%
    width: 200px
    box-sizing: border-box
    border: 1px solid #cacaca
    background-color: #fff
    padding: 5px 5px 5px 5px
    border-radius: 0 5px 5px 0
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5)
    opacity: 0.7
    z-index: 9999
    .container-inline,
    .placeholder
        +hide
    ul
        +nopadmar
        li
            display: inline-block
            list-style: none
.bootstrap-slideshow
    p
        margin-bottom: 10px
    ol
        bottom: 10px
        li
            width: 12px
            height: 12px
            margin: 0 5px
            &.active
                margin: 0 5px

.block
    .block-title
        +common-block-title

#admin-menu,
.logoblock,
.menuchinh
    +below($breakpoint2)
        +hide

/*Essential blocks END*/

.menuchinh
    margin-left: 30px
    float: left
    .sf-menu
        a
            padding: 0 20px
            font: 14px/60px $globalfont
        /* Menu cấp 1*/
        li.sf-depth-1
            &.first
            &.last
            &.active-trail,
            &:hover
                & > a
                    text-decoration: none
                    color: #fff !important
                    background: $color-primary
                & > ul
                    opacity: 1
            a.sf-depth-1
                color: $color-primary

            /*Menu cấp 2*/
            & > ul
                top: 40px
                background: $color-primary
                /*Fix superfish submenu show up while load waiting*/
                opacity: 0
                li.sf-depth-2
                    padding: 0 20px 0 0
                    a.sf-depth-2
                        color: #fff

                    /*Menu cấp 3*/
                    & > ul
                        background: $color-primary
                        li.sf-depth-3
                            box-sizing: border-box
                            a.sf-depth-3
                                color: #fff

.home-slideshow
    .view-content
        .views-slideshow-controls-top
            position: relative
            a
                +size(52px,52px)
                outline: none
                text-indent: -9999px
            .views-slideshow-controls-text-pause
                +hide
            .views-slideshow-controls-text-previous
                +posabs1(30px,15px)
                z-index: 100
                a
                    +bgnorep-cc("arrow-prev.svg")
            .views-slideshow-controls-text-next
                +posabs2(30px,15px)
                z-index: 100
                a
                    +bgnorep-cc("arrow-next.svg")
            .views-slideshow-pager-fields
                +flex-row
                +posabs1(0,0) /*Vị trí top của pager sẽ được điểu chỉnh bởi jquery*/
                justify-content: center
                width: 100%
                z-index: 100
                +below($breakpoint1)
                    +hide
                .views-slideshow-pager-field-item
                    +invisible-link-block
                    +bgnorep-cc("pager-circle.svg")
                    +size(15px,15px)
                    margin: 0 2px
                    cursor: pointer
                    opacity: 1
                    a
                        +size(100%,100%)
                    &.active
                        +bgnorep-cc("pager-circle-active.svg")
        .views_slideshow_cycle_main
            .views-slideshow-cycle-main-frame
                .views-slideshow-cycle-main-frame-row
                    position: relative
                    width: 100% !important
                    img
                        +image-responsive
                    .views-field-edit-node
                        top: 40px
                    .views-fieldset
                        +posabs4(20px,0)
                        +size(100%,120px)
                        padding: 15px
                        box-sizing: border-box
                        text-align: center
                        +below($breakpoint1)
                            position: relative
                            top: auto
                            height: auto
                        +below($breakpoint2)
                            +hide
                        .views-field-title
                            a
                                font: bold 15px $globalfont
                                color: $color-primary
                        .views-field-body
                            margin-top: 5px

.home-lienket
    margin-top: 40px
    .view-content
        +flex-row
        .views-row
            +flex-column(3)
            padding: 0 15px
            +below($breakpoint2)
                +flex-column(1)

.modeldetail
    .infogroup
        +common-box-shadow
        border: 1px solid $color-border
        border-radius: $global-border-radius
        background: #fff
        .views-field-title
            h3
                margin: 0
                color: $color-link
                padding: 10px
                font: bold 16px $globalfont
        .views-field-body
            border-top: 1px solid $color-border
            font: 13px/20px $globalfont
            color: $color-text
            padding: 10px
        .views-field-field-tags
            padding: 10px
            border-top: 1px solid $color-border
            ul
                +flex-row
                +nopadmar
                li
                    list-style: none
                    margin-right: 5px
                    a
                        +opacity-hover
                        font: 11px/20px $globalfont
                        display: block
                        color: #fff
                        background: $color-link
                        border-radius: 10px
                        padding: 0 10px
                        &:hover
                            text-decoration: none
    .freegroup,
    .goldgroup,
    .diamondgroup
        +common-box-shadow
        border: 1px solid $color-border
        margin-top: 20px
        border-radius: $global-border-radius
        background: #fff
        .views-field-field-download-file,
        .views-field-field-gold-files,
        .views-field-field-diamond-files
            .views-label
                font: 14px/30px $globalfont
                background: #9e9e9e
                text-indent: 10px
                display: block
                color: white
                border-radius: $global-border-radius $global-border-radius 0 0
            .field-content
                padding: 10px 10px
                .file-icon
                    display: none
                /*LINK DOWNLOAD*/
                a
                    +opacity-hover
                    +bgnorep-rc("icon-download.svg")
                    background-size: 16px auto
                    display: block
                    padding: 5px 0
                    color: $color-link
                    font: normal 14px $globalfont
                    &:hover
                        text-decoration: none

        .views-field-field-gold-files
            .views-label
                background: $color-gold
            b
                color: #ffde62
        .views-field-field-diamond-files
            .views-label
                background: $color-diamond

        /*Content*/
        .views-field-field-content-free,
        .views-field-field-content-gold,
        .views-field-field-content-diamond
            padding: 10px 10px 0 0
            border-top: 1px solid $color-border
            font-size: 14px

        /*Price*/
        .views-field-field-price-gold,
        .views-field-field-price-diamond
            padding: 10px
            text-align: left
            overflow: hidden
            border-top: 1px solid $color-border
            .field-content
                font: 13px/30px $globalfont
                .chitiet
                    float: left
                    b
                        font-size: 15px
                        color: #00bbab
                .purchase
                    +opacity-hover
                    float: right
                    display: inline-block
                    border-radius: 20px
                    color: #fff
                    padding: 0 15px
                    background: $color-link
                    cursor: pointer

.modelcungloai
    display: inline-block
    width: 100%
    .block-title
        +common-block-title
    .danhsachmodel
        .views-row
            width: 24%
            +below($breakpoint-1)
                width: 32%

.footerinfo

.maintenance-message
    +posfix4(5px,5px)
    background: red
    color: #fff
    z-index: 999
    opacity: 0.5
    padding: 5px


/*CSS DANH CHO NHAT TRUONG PHAT*/

.mangxahoi
    .view-content
        +flex-row
        flex-wrap: nowrap
        +below($breakpoint2)
        .views-row
            +size(60px,auto)
            padding: 0 5px

.logoblock
    float: left
    img
        +size(auto, 60px)
.menu-anonymous
    float: right
.hellouser
    float: right
    height: 60px
    font: 15px/60px $globalfont
    .role
        +size(20px, 60px)
        text-indent: -9999px
        outline: none
        display: inline-block
        margin-right: 10px
        &.premium
            +bgnorep-cc("icon-crown.svg")
            background-size: 15px auto
        &.free
            +bgnorep-cc("icon-smile.svg")
            background-size: 15px auto
    .name
        color: $color-link
        font-weight: bold
        cursor: pointer


.usermenu
    float: right
    position: relative
    z-index: 1
    .block-title
        +size(40px, 60px)
        +bgnorep-rc("icon-dropdown.svg")
        +nopadmar
        +opacity-hover
        background-size: 30px 30px
        text-indent: -9999px
        outline: none
        display: block
        cursor: pointer
    .menu
        +common-box-shadow
        +posabs2(60px, 0)
        width: 140px
        background: #fff
        border: 1px solid $color-border
        display: none
        a
            +common-submenu-link
.tagcloud
    float: left
    position: relative
    z-index: 1
    margin-left: 20px
    .block-title
        +nopadmar
        +opacity-hover
        font: bold 14px/60px $globalfont
        cursor: pointer
        color: $color-link
        padding-left: 30px
        +bgnorep-lc("icon-dropdown.svg")
        background-size: 20px auto
    .container
        +common-submenu-container
        .tagclouds-term
            +flex-column(3)
            a
                +common-submenu-link
