=common-section
    +centerblock($breakpoint-2)
    +below($breakpoint2)
        width: 100%

=common-block-title
    font: normal 20px $globalfont
    border: none !important
    color: $color-text
    +below($breakpoint1)
        font-size: 20px
    a
        text-decoration: none
        &:hover
            color: $color-secondary
        +below($breakpoint1)
            font-size: 20px
=common-box-shadow
    box-shadow: 0 0 13px rgba(0,0,0,0.1)
=common-textform
    border: 1px solid $color-primary
    border-radius: 4px
    font: 14px $globalfont
    padding: 5px
    box-sizing: border-box

=common-submit-button
    padding: 5px 10px
    font: 14px $globalfont
    border: none
    border-radius: 3px
    color: #fff
    cursor: pointer
    background: darken($color-primary,20%)
    display: inline-block

=common-submenu-container
    +posabs1(60px, 0)
    +flex-row
    +common-box-shadow
    +nopadmar
    display: none
    width: 600px
    background: #fff
    border-top: 1px solid $color-border
    border-left: 1px solid $color-border
=common-submenu-link
    font: 14px/40px $globalfont
    color: $color-text
    padding: 0 10px
    display: block
    border-right: 1px solid $color-border
    border-bottom: 1px solid $color-border
    &:hover
        background: $color-link
        color: #fff
        text-decoration: none
