/*Trang chủ*/
.front
    .danhsachmodel
        // +centerblock($breakpoint-1)

/*Trang chi tiết bài viết*/
.node-type-article
    .node-article
        padding: 0 15px

.node-type-content-model
    .field-name-field-sketchfab-code
        border-radius: 5px
        overflow: hidden
        // padding-right: 30px
        iframe
            +size(100%, 700px)
            background: #333
            +above(2000px)
                +size(100%, 850px)
            +below($breakpoint-1)
                +size(100%, 500px)
            +below($breakpoint1)
                +size(100%, 400px)
            +below($breakpoint2)
                +size(100%, 300px)
        .sketchfab-embed-wrapper
            p
                +hide

/*Trang liên hệ*/
.page-node-9
    .node-webform
        .group-left,
        .group-right
            padding: 0 15px
            .field-name-body
                margin-bottom: 20px
