.view
    .view-content,
    .slide__content
        .views-row,
        .slide__grid
            position: relative
        .views-field-edit-node,
        .views-field-edit-term
            +posabs1(5px,5px)
            +size(20px,20px)
            +bgnorep-cc("icon-edit.svg")
            +opacity-hover
            border-radius: 10px
            background-color: darken($color-primary, 30%)
            background-size: 60% 60%
            z-index: 1000
            a
                +invisible-link-block

        .views-field-delete-node
            +posabs1(5px,27px)
            +size(20px,20px)
            +bgnorep-cc("icon-delete.svg")
            +opacity-hover
            border-radius: 10px
            background-color: darken($color-primary, 30%)
            background-size: 60% 60%
            z-index: 1000
            a
                +invisible-link-block

.danhsachbaiviet
    .view-content
        +flex-row
        .views-row
            +flex-column(4)
            padding: 0 15px
            margin-bottom: 30px
            +below($breakpoint2)
                +flex-column(1)

.danhsachmodel
    .view-content
        +flex-row-space-between
        .views-row
            width: 19%
            padding: 0 0px 0 0
            box-sizing: border-box
            margin-bottom: 30px
            +below($breakpoint-1)
                width: 24%
                margin-bottom: 20px
            .inside
                +common-box-shadow
                border-radius: $global-border-radius
                border: 1px solid $color-border
                overflow: hidden
                background: #fff
                position: relative
                &:hover
                    .downloadgroup,
                    .statisticgroup
                        +show
                .views-field-field-image
                    img
                        background: #666
                        &:hover
                            background: #6d6d6d
                .views-field-title
                    padding: 10px
                    a
                        font: bold 13px $globalfont
                        color: $color-link
                .downloadgroup
                    +posabs2(10px,5px)
                    +hide
                    .views-field-field-download-file,
                    .views-field-field-gold-files,
                    .views-field-field-diamond-files
                        +leftblock-h(10px,10px)
                        border-radius: 50%
                        border: 2px solid rgba(255,255,255,0.2)
                        margin-right: 5px
                        cursor: help
                        .field-content
                            opacity: 0
                    .views-field-field-download-file
                        background: #9e9e9e
                    .views-field-field-gold-files
                        background: $color-gold
                    .views-field-field-diamond-files
                        background: $color-diamond
                .statisticgroup
                    +posabs4(53px, 5px)
                    +hide
                    .views-field-totalcount,
                    .views-field-count
                        float: left
                        margin-right: 5px
                        background-size: auto 12px
                        padding: 0 5px
                        border-radius: 2px
                        color: #aaa
                        box-shadow: 0 0 3px $globalfont
                        font: 11px/15px $globalfont
                .views-field-ops
                    +size(17px,17px)
                    +posabs3(14px, 10px)
                    .field-content
                        +bgnorep-cc("icon-star-empty.svg")
                        +opacity-hover
                        +size(17px,17px)
                        text-indent: -999px
                        cursor: pointer
                    .flag-throbber
                        +hide
                    a
                        +opacity-hover
                        +size(17px,17px)
                        text-indent: -999px
                        outline: none
                    .unflag-action
                        +bgnorep-cc("icon-star.svg")
                    .flag-action
                        +bgnorep-cc("icon-star-empty.svg")
