@import "variables"
@import "w3ateamlibs/lib-master"


.hellouser
    margin-bottom: 30px
    .view-content
        .views-row
            .views-field
                margin-bottom: 10px
                display: block
                .field-content
                    font-weight: bold

.node-article
    h1,h2,h3,h4,h5
        margin: 20px 0 !important
        font-weight: bold !important
#branding
    background: #fff !important
    h1
        color: $color-text !important
#main-content
    padding: 20px
    border: 1px solid #cacaca
    border-radius: 5px
    box-sizing: border-box
#block-system-navigation
    h2
        +posfix2(5px,5px)
        background: #333
        padding: 5px 10px
        border-radius: 5px
        font: 15px $globalfont
        color: #fff
        +above($breakpoint2)
            +hide
    .content ul
        +nopadmar
        li
            +nopadmar
            list-style: none
            .nolink,
            a
                padding: 5px 10px
                display: block
                color: #333
                font: 12px $globalfont
                &:hover
                    text-decoration: none
    .content > ul
        +below($breakpoint2)
            display: none
        & > li
            .nolink,
            & > a
                background: #abc
                color: #fff
                border-radius: 5px 5px 0 0

            //menu level 2
            & > ul
                margin-bottom: 20px
                border: 1px solid #cacaca
                border-top: none
                border-radius: 0 0 5px 5px
                & > li
                    &:hover
                        background: #fafafa
                    & > a
                        border-bottom: 1px solid #cacaca
                    &.last > a
                        border: none

                    //menu level 3
                    & > ul
                        & > li
                            & > a
                                padding-left: 20px
                                border-bottom: 1px solid #cacaca

.tabledrag-handle .handle
    width: 30px !important
    height: auto !important

.block-masquerade
    +posfix4(25px, -150px)
    +bgnorep-rc("masquerade.svg")
    background-size: auto 100%
    width: 200px
    box-sizing: border-box
    border: 1px solid #cacaca
    background-color: #fff
    padding: 5px 5px 5px 5px
    border-radius: 0 5px 5px 0
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5)
    opacity: 0.7
    z-index: 9999
    .container-inline,
    .placeholder
        +hide
    ul
        +nopadmar
        li
            display: inline-block
            list-style: none

.view-display-id-banghiphattrien
    .view-content
        .views-row
            .views-field-title
                padding: 10px 0
                margin-top: 40px
                border-top: 1px solid #cacaca
                font: 18px $globalfont
            .views-field-body
                h4
                    margin: 10px 0

/*Fix lỗi hiển thị view edit*/
body.page-admin-structure-views-view
    #content-wrapper
        display: inline-flex
        #main-content
            padding-left: 0px !important
            width: 90%

.ds-2col-stacked
    .group-right
        padding-left: 20px
