@import "variables"
@import "w3ateamlibs/lib-master"
@import "mixins"
@import "views"
@import "blocks"
@import "pages"
@import "modules"

a
    font: bold 14px $globalfont
    text-decoration: none
    color: $color-secondary
    outline: none
    &:hover
        color: lighten($color-primary,10%)

h1
    +common-block-title
h2,h3,h4
    font-family: $globalfont
    color: $color-primary

#admin-menu
    a
        font-size: 11px

body
    +nopadmar
    font: 14px/25px $globalfont
    color: $color-text
    background: #f5f5f5
    .navbar
        margin-bottom: 0
        border: none
        .navbar-header
            .logo
        .navbar-nav
            margin: 0 -15px
    .breadcrumb
        margin-bottom: 0
    .header-container
        box-shadow: 0 0 15px rgba(0,0,0,0.1)
        height: 60px
        background: #fff
        .region-header1
            +common-section
            overflow: inherit
    .home-container
        +common-section
    .content-container
        +common-section
        padding-top: 30px
        .region-home
            width: 100%
        .content-inside
            +flex-row
            .region-content
                flex-grow: 2
                flex-basis: 20%
                padding-right: 30px
            .region-rightside
                width: 350px

        .ds-2col-stacked
            +flex-row
            .group-left,
            .group-right
                +flex-column(2)
                margin-bottom: 30px
                +below($breakpoint2)
                    +flex-column(1)
        .tabs--primary
            padding: 0 15px
            border: none
            li
                margin-right: 5px
                border: none
                a
                    font: normal 14px/25px $globalfont
                    padding: 0 10px
                    margin: 0
                    border: none
                .active,
                &:hover,
                &:hover a,
                    border: none
                    background: $color-primary
                    color: #fff
                    border-radius: 5px
        .page-header
            +common-block-title
    .footer-container
        margin-top: 40px
        padding-top: 40px
        border-top: 1px solid #cacaca
        .region-footer1
            +common-section
