=w3a-slideshow-format

    $control_width: 20px

    position: relative
    .frame
        +centerblock(100%)
        overflow: hidden
        position: relative
        .clip
            +posabs1(0,0)
            +flex-row
            .slide
                img
                    +image-responsive
    .prev
        +posabs1(0,10px)
        +size($control_width,auto)
        cursor: pointer
    .next
        +posabs2(0,10px)
        +size($control_width,auto)
        cursor: pointer
    .pagers
        +posabs4(10px,0)
        +flex-row-center
        z-index: 100
        .pager
            border: 3px solid #fff
            +size(10px,10px)
            border-radius: 5px
            background: #fff
            cursor: pointer
            margin: 5px
            &.active
                border: 3px solid #000
